<html>
    <head>
        <title>Halaman Home</title>
        <link rel="stylesheet" href="../css/style.css">
        </head>
    <body>
        <%- include('header') %>
        
        <p class="judul"><%= nama %></p class="judul">
        <image class="img-judul" src="../img/gambar.jpg" />

        <%- include('footer') %>
    </body>


</html>