<html>
    <head>
        <title>Halaman User</title>
    </head>
    <body>
        <%- include('header') %>
        <h2>Halaman User</h2>
        <p> Nama:  <%= user.nama %> </p>
        <p> Alamat: <%= user.alamat %> </p>

        <%- include('footer') %>

    </body>
</html>